.hidden{
	display:none;
}
ul.tree, ul.tree ul{
	list-style: none;
	margin-left: 0;
}

ul.tree span.expcoll{
	cursor:pointer;
}

label
{
	margin-bottom: 0;
}

.card
{
	margin-bottom: 20px;
}

.treenode:focus
{
	outline: none;
}

.treenode:focus > a
{
	outline: auto 5px -webkit-focus-ring-color;;
}